.blue-main {
  color: #0487d9;
}
.blue-main_background {
  background-color: #0487d9;
}

.white {
  color: #fff;
}
.white_background {
  background-color: #fff;
}

.black {
  color: #000;
}
.black_background {
  background-color: #000;
}

.youtube {
  color: rgb(255, 0, 0);
}
.youtube_background {
  background-color: rgb(255, 0, 0);
}

.facebook {
  color: rgb(35, 116, 225);
}
.facebook_background {
  background-color: rgb(35, 116, 225);
}

.twitch {
  color: rgb(100, 65, 165);
}
.twitch_background {
  background-color: rgb(100, 65, 165);
}

.main-grey {
  color: #5e7073;
}
.main-grey_background {
  background-color: #5e7073;
}

.main-background {
  background-color: #1f2526;
}

.secondary-background {
  background-color: #034aa6;
}

.stream-label {
  background-color: #034aa6;
  border: 5px solid #04b2d9;
}

.main-border {
  border-color: #0487d9;
}

.secondary-border {
  border-color: #04b2d9;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  width: 100%;
  height: 100vh;
}

/*
** ANIMATIONS
*/
/* Document
 * ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
 * ========================================================================== */
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Edge, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
 * ========================================================================== */
/**
 * Remove the margin on nested lists in Chrome, Edge, IE, and Safari.
 */
dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0;
}

/**
 * Remove the margin on nested lists in Edge 18- and IE.
 */
ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Correct the inheritance of border color in Firefox.
 * 3. Show the overflow in Edge 18- and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  color: inherit; /* 2 */
  height: 0; /* 1 */
  overflow: visible; /* 3 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
 * ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Add the correct text decoration in Edge 18-, IE, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/* Embedded content
 * ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images within links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Tabular data
 * ========================================================================== */
/**
 * 1. Correct table border color inheritance in all Chrome, Edge, and Safari.
 * 2. Remove text indentation from table contents in Chrome, Edge, and Safari.
 */
table {
  border-color: inherit; /* 1 */
  text-indent: 0; /* 2 */
}

/* Forms
 * ========================================================================== */
/**
 * Remove the margin on controls in Safari.
 */
button,
input,
select {
  margin: 0;
}

/**
 * 1. Show the overflow in IE.
 * 2. Remove the inheritance of text transform in Edge 18-, Firefox, and IE.
 */
button {
  overflow: visible; /* 1 */
  text-transform: none; /* 2 */
}

/**
 * Correct the inability to style buttons in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * Show the overflow in Edge 18- and IE.
 */
input {
  overflow: visible;
}

/**
 * 1. Correct the text wrapping in Edge 18- and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in Edge 18- and IE.
 * 2. Add the correct vertical alignment in Chrome, Edge, and Firefox.
 */
progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the inheritance of text transform in Firefox.
 */
select {
  text-transform: none;
}

/**
 * 1. Remove the margin in Firefox and Safari.
 * 2. Remove the default vertical scrollbar in IE.
 */
textarea {
  margin: 0; /* 1 */
  overflow: auto; /* 2 */
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * 1. Correct the odd appearance in Chrome, Edge, and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 */
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style upload buttons in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Remove the inner border and padding of focus outlines in Firefox.
 */
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus outline styles unset by the previous rule in Firefox.
 */
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove the additional :invalid styles in Firefox.
 */
:-moz-ui-invalid {
  box-shadow: none;
}

/* Interactive
 * ========================================================================== */
/*
 * Add the correct display in Edge 18- and IE.
 */
details {
  display: block;
}

/*
 * Add the correct styles in Edge 18-, IE, and Safari.
 */
dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
 * ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* User interaction
 * ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

.blue-main {
  color: #0487d9;
}
.blue-main_background {
  background-color: #0487d9;
}

.white {
  color: #fff;
}
.white_background {
  background-color: #fff;
}

.black {
  color: #000;
}
.black_background {
  background-color: #000;
}

.youtube {
  color: rgb(255, 0, 0);
}
.youtube_background {
  background-color: rgb(255, 0, 0);
}

.facebook {
  color: rgb(35, 116, 225);
}
.facebook_background {
  background-color: rgb(35, 116, 225);
}

.twitch {
  color: rgb(100, 65, 165);
}
.twitch_background {
  background-color: rgb(100, 65, 165);
}

.main-grey {
  color: #5e7073;
}
.main-grey_background {
  background-color: #5e7073;
}

.spaced {
  padding: 50px;
}

.space {
  padding: 50px;
}
.space_margin {
  margin: 50px;
}
.space_top {
  padding-top: 50px;
}
.space_top_margin {
  margin-top: 50px;
}
.space_bottom {
  padding-bottom: 50px;
}
.space_bottom_margin {
  margin-bottom: 50px;
}
.space_left {
  padding-left: 50px;
}
.space_left_margin {
  margin-left: 50px;
}
.space_right {
  padding-right: 50px;
}
.space_right_margin {
  margin-right: 50px;
}

.space_2 {
  padding: 100px;
}
.space_2_margin {
  margin: 100px;
}
.space_2_top {
  padding-top: 100px;
}
.space_2_top_margin {
  margin-top: 100px;
}
.space_2_bottom {
  padding-bottom: 100px;
}
.space_2_bottom_margin {
  margin-bottom: 100px;
}
.space_2_left, .stream-label {
  padding-left: 100px;
}
.space_2_left_margin {
  margin-left: 100px;
}
.space_2_right {
  padding-right: 100px;
}
.space_2_right_margin {
  margin-right: 100px;
}

.space_3 {
  padding: 150px;
}
.space_3_margin {
  margin: 150px;
}
.space_3_top {
  padding-top: 150px;
}
.space_3_top_margin {
  margin-top: 150px;
}
.space_3_bottom {
  padding-bottom: 150px;
}
.space_3_bottom_margin {
  margin-bottom: 150px;
}
.space_3_left {
  padding-left: 150px;
}
.space_3_left_margin {
  margin-left: 150px;
}
.space_3_right {
  padding-right: 150px;
}
.space_3_right_margin {
  margin-right: 150px;
}

.space_4 {
  padding: 200px;
}
.space_4_margin {
  margin: 200px;
}
.space_4_top {
  padding-top: 200px;
}
.space_4_top_margin {
  margin-top: 200px;
}
.space_4_bottom {
  padding-bottom: 200px;
}
.space_4_bottom_margin {
  margin-bottom: 200px;
}
.space_4_left {
  padding-left: 200px;
}
.space_4_left_margin {
  margin-left: 200px;
}
.space_4_right {
  padding-right: 200px;
}
.space_4_right_margin {
  margin-right: 200px;
}

.space_5 {
  padding: 250px;
}
.space_5_margin {
  margin: 250px;
}
.space_5_top {
  padding-top: 250px;
}
.space_5_top_margin {
  margin-top: 250px;
}
.space_5_bottom {
  padding-bottom: 250px;
}
.space_5_bottom_margin {
  margin-bottom: 250px;
}
.space_5_left {
  padding-left: 250px;
}
.space_5_left_margin {
  margin-left: 250px;
}
.space_5_right {
  padding-right: 250px;
}
.space_5_right_margin {
  margin-right: 250px;
}

.gap-space {
  gap: 50px;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #fff;
}

h1 {
  font-size: 24rem;
}

h2 {
  font-size: 12rem;
}

h3 {
  font-size: 6rem;
}

h4 {
  font-size: 3.6rem;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 700;
}

p {
  font-family: "Ubuntu Mono", monospace;
  font-size: 3.2rem;
}

.big-title {
  text-shadow: 0px 0px 10px #fff;
}

.blue-main {
  color: #0487d9;
}
.blue-main_background {
  background-color: #0487d9;
}

.white {
  color: #fff;
}
.white_background {
  background-color: #fff;
}

.black {
  color: #000;
}
.black_background {
  background-color: #000;
}

.youtube {
  color: rgb(255, 0, 0);
}
.youtube_background {
  background-color: rgb(255, 0, 0);
}

.facebook {
  color: rgb(35, 116, 225);
}
.facebook_background {
  background-color: rgb(35, 116, 225);
}

.twitch {
  color: rgb(100, 65, 165);
}
.twitch_background {
  background-color: rgb(100, 65, 165);
}

.main-grey {
  color: #5e7073;
}
.main-grey_background {
  background-color: #5e7073;
}

.spaced {
  padding: 50px;
}

.space {
  padding: 50px;
}
.space_margin {
  margin: 50px;
}
.space_top {
  padding-top: 50px;
}
.space_top_margin {
  margin-top: 50px;
}
.space_bottom {
  padding-bottom: 50px;
}
.space_bottom_margin {
  margin-bottom: 50px;
}
.space_left {
  padding-left: 50px;
}
.space_left_margin {
  margin-left: 50px;
}
.space_right {
  padding-right: 50px;
}
.space_right_margin {
  margin-right: 50px;
}

.space_2 {
  padding: 100px;
}
.space_2_margin {
  margin: 100px;
}
.space_2_top {
  padding-top: 100px;
}
.space_2_top_margin {
  margin-top: 100px;
}
.space_2_bottom {
  padding-bottom: 100px;
}
.space_2_bottom_margin {
  margin-bottom: 100px;
}
.space_2_left, .stream-label {
  padding-left: 100px;
}
.space_2_left_margin {
  margin-left: 100px;
}
.space_2_right {
  padding-right: 100px;
}
.space_2_right_margin {
  margin-right: 100px;
}

.space_3 {
  padding: 150px;
}
.space_3_margin {
  margin: 150px;
}
.space_3_top {
  padding-top: 150px;
}
.space_3_top_margin {
  margin-top: 150px;
}
.space_3_bottom {
  padding-bottom: 150px;
}
.space_3_bottom_margin {
  margin-bottom: 150px;
}
.space_3_left {
  padding-left: 150px;
}
.space_3_left_margin {
  margin-left: 150px;
}
.space_3_right {
  padding-right: 150px;
}
.space_3_right_margin {
  margin-right: 150px;
}

.space_4 {
  padding: 200px;
}
.space_4_margin {
  margin: 200px;
}
.space_4_top {
  padding-top: 200px;
}
.space_4_top_margin {
  margin-top: 200px;
}
.space_4_bottom {
  padding-bottom: 200px;
}
.space_4_bottom_margin {
  margin-bottom: 200px;
}
.space_4_left {
  padding-left: 200px;
}
.space_4_left_margin {
  margin-left: 200px;
}
.space_4_right {
  padding-right: 200px;
}
.space_4_right_margin {
  margin-right: 200px;
}

.space_5 {
  padding: 250px;
}
.space_5_margin {
  margin: 250px;
}
.space_5_top {
  padding-top: 250px;
}
.space_5_top_margin {
  margin-top: 250px;
}
.space_5_bottom {
  padding-bottom: 250px;
}
.space_5_bottom_margin {
  margin-bottom: 250px;
}
.space_5_left {
  padding-left: 250px;
}
.space_5_left_margin {
  margin-left: 250px;
}
.space_5_right {
  padding-right: 250px;
}
.space_5_right_margin {
  margin-right: 250px;
}

.gap-space {
  gap: 50px;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #fff;
}

h1 {
  font-size: 24rem;
}

h2 {
  font-size: 12rem;
}

h3 {
  font-size: 6rem;
}

h4 {
  font-size: 3.6rem;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 700;
}

p {
  font-family: "Ubuntu Mono", monospace;
  font-size: 3.2rem;
}

.stream-label {
  height: 80px;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.stream-label i {
  position: absolute;
  left: 40px;
  top: 15px;
}

.stream-labels {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: -1;
  -ms-grid-row-span: -1;
  grid-row: -1/-2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.blue-main {
  color: #0487d9;
}
.blue-main_background {
  background-color: #0487d9;
}

.white {
  color: #fff;
}
.white_background {
  background-color: #fff;
}

.black {
  color: #000;
}
.black_background {
  background-color: #000;
}

.youtube {
  color: rgb(255, 0, 0);
}
.youtube_background {
  background-color: rgb(255, 0, 0);
}

.facebook {
  color: rgb(35, 116, 225);
}
.facebook_background {
  background-color: rgb(35, 116, 225);
}

.twitch {
  color: rgb(100, 65, 165);
}
.twitch_background {
  background-color: rgb(100, 65, 165);
}

.main-grey {
  color: #5e7073;
}
.main-grey_background {
  background-color: #5e7073;
}

.spaced {
  padding: 50px;
}

.space {
  padding: 50px;
}
.space_margin {
  margin: 50px;
}
.space_top {
  padding-top: 50px;
}
.space_top_margin {
  margin-top: 50px;
}
.space_bottom {
  padding-bottom: 50px;
}
.space_bottom_margin {
  margin-bottom: 50px;
}
.space_left {
  padding-left: 50px;
}
.space_left_margin {
  margin-left: 50px;
}
.space_right {
  padding-right: 50px;
}
.space_right_margin {
  margin-right: 50px;
}

.space_2 {
  padding: 100px;
}
.space_2_margin {
  margin: 100px;
}
.space_2_top {
  padding-top: 100px;
}
.space_2_top_margin {
  margin-top: 100px;
}
.space_2_bottom {
  padding-bottom: 100px;
}
.space_2_bottom_margin {
  margin-bottom: 100px;
}
.space_2_left, .stream-label {
  padding-left: 100px;
}
.space_2_left_margin {
  margin-left: 100px;
}
.space_2_right {
  padding-right: 100px;
}
.space_2_right_margin {
  margin-right: 100px;
}

.space_3 {
  padding: 150px;
}
.space_3_margin {
  margin: 150px;
}
.space_3_top {
  padding-top: 150px;
}
.space_3_top_margin {
  margin-top: 150px;
}
.space_3_bottom {
  padding-bottom: 150px;
}
.space_3_bottom_margin {
  margin-bottom: 150px;
}
.space_3_left {
  padding-left: 150px;
}
.space_3_left_margin {
  margin-left: 150px;
}
.space_3_right {
  padding-right: 150px;
}
.space_3_right_margin {
  margin-right: 150px;
}

.space_4 {
  padding: 200px;
}
.space_4_margin {
  margin: 200px;
}
.space_4_top {
  padding-top: 200px;
}
.space_4_top_margin {
  margin-top: 200px;
}
.space_4_bottom {
  padding-bottom: 200px;
}
.space_4_bottom_margin {
  margin-bottom: 200px;
}
.space_4_left {
  padding-left: 200px;
}
.space_4_left_margin {
  margin-left: 200px;
}
.space_4_right {
  padding-right: 200px;
}
.space_4_right_margin {
  margin-right: 200px;
}

.space_5 {
  padding: 250px;
}
.space_5_margin {
  margin: 250px;
}
.space_5_top {
  padding-top: 250px;
}
.space_5_top_margin {
  margin-top: 250px;
}
.space_5_bottom {
  padding-bottom: 250px;
}
.space_5_bottom_margin {
  margin-bottom: 250px;
}
.space_5_left {
  padding-left: 250px;
}
.space_5_left_margin {
  margin-left: 250px;
}
.space_5_right {
  padding-right: 250px;
}
.space_5_right_margin {
  margin-right: 250px;
}

.gap-space {
  gap: 50px;
}

.camera-frame {
  width: 500px;
  height: 281.25px;
  border-width: 5px;
  border-style: solid;
}

.blue-main {
  color: #0487d9;
}
.blue-main_background {
  background-color: #0487d9;
}

.white {
  color: #fff;
}
.white_background {
  background-color: #fff;
}

.black {
  color: #000;
}
.black_background {
  background-color: #000;
}

.youtube {
  color: rgb(255, 0, 0);
}
.youtube_background {
  background-color: rgb(255, 0, 0);
}

.facebook {
  color: rgb(35, 116, 225);
}
.facebook_background {
  background-color: rgb(35, 116, 225);
}

.twitch {
  color: rgb(100, 65, 165);
}
.twitch_background {
  background-color: rgb(100, 65, 165);
}

.main-grey {
  color: #5e7073;
}
.main-grey_background {
  background-color: #5e7073;
}

.spaced {
  padding: 50px;
}

.space {
  padding: 50px;
}
.space_margin {
  margin: 50px;
}
.space_top {
  padding-top: 50px;
}
.space_top_margin {
  margin-top: 50px;
}
.space_bottom {
  padding-bottom: 50px;
}
.space_bottom_margin {
  margin-bottom: 50px;
}
.space_left {
  padding-left: 50px;
}
.space_left_margin {
  margin-left: 50px;
}
.space_right {
  padding-right: 50px;
}
.space_right_margin {
  margin-right: 50px;
}

.space_2 {
  padding: 100px;
}
.space_2_margin {
  margin: 100px;
}
.space_2_top {
  padding-top: 100px;
}
.space_2_top_margin {
  margin-top: 100px;
}
.space_2_bottom {
  padding-bottom: 100px;
}
.space_2_bottom_margin {
  margin-bottom: 100px;
}
.space_2_left, .stream-label {
  padding-left: 100px;
}
.space_2_left_margin {
  margin-left: 100px;
}
.space_2_right {
  padding-right: 100px;
}
.space_2_right_margin {
  margin-right: 100px;
}

.space_3 {
  padding: 150px;
}
.space_3_margin {
  margin: 150px;
}
.space_3_top {
  padding-top: 150px;
}
.space_3_top_margin {
  margin-top: 150px;
}
.space_3_bottom {
  padding-bottom: 150px;
}
.space_3_bottom_margin {
  margin-bottom: 150px;
}
.space_3_left {
  padding-left: 150px;
}
.space_3_left_margin {
  margin-left: 150px;
}
.space_3_right {
  padding-right: 150px;
}
.space_3_right_margin {
  margin-right: 150px;
}

.space_4 {
  padding: 200px;
}
.space_4_margin {
  margin: 200px;
}
.space_4_top {
  padding-top: 200px;
}
.space_4_top_margin {
  margin-top: 200px;
}
.space_4_bottom {
  padding-bottom: 200px;
}
.space_4_bottom_margin {
  margin-bottom: 200px;
}
.space_4_left {
  padding-left: 200px;
}
.space_4_left_margin {
  margin-left: 200px;
}
.space_4_right {
  padding-right: 200px;
}
.space_4_right_margin {
  margin-right: 200px;
}

.space_5 {
  padding: 250px;
}
.space_5_margin {
  margin: 250px;
}
.space_5_top {
  padding-top: 250px;
}
.space_5_top_margin {
  margin-top: 250px;
}
.space_5_bottom {
  padding-bottom: 250px;
}
.space_5_bottom_margin {
  margin-bottom: 250px;
}
.space_5_left {
  padding-left: 250px;
}
.space_5_left_margin {
  margin-left: 250px;
}
.space_5_right {
  padding-right: 250px;
}
.space_5_right_margin {
  margin-right: 250px;
}

.gap-space {
  gap: 50px;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #fff;
}

h1 {
  font-size: 24rem;
}

h2 {
  font-size: 12rem;
}

h3 {
  font-size: 6rem;
}

h4 {
  font-size: 3.6rem;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 700;
}

p {
  font-family: "Ubuntu Mono", monospace;
  font-size: 3.2rem;
}

.camera-social-remainder {
  width: 500px;
  height: 100px;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
.camera-social-remainder i {
  margin-right: 25px;
  font-size: 1.2em;
}

.camera {
  position: relative;
}