mixin big-screen-socials
  .big-screen-socials
    h3
      i.fa-brands.fa-facebook.facebook
      i.fa-brands.fa-twitch.twitch
      i.fa-brands.fa-youtube.youtube
      i.fa-brands.fa-tiktok.tiktok
      | EDarkMatter

mixin big-title(action)
  .big-title
    h2.big-title__action= action
    h1.big-title__streaming Directo
    +big-screen-socials

mixin stream-labels
  .stream-labels
    p.stream-label
      i.fa-solid.fa-heart
      | Último Seguidor:
    p.stream-label
      i.fa-solid.fa-share
      | Último Host:
    p.stream-label
      i.fa-solid.fa-parachute-box
      | Último Raid: