mixin big-title(action)
  h1.big-title__action= action
  h2.big-title__streaming Directo

mixin stream-labels
  .stream-labels
    p.stream-label Último Seguidor
    p.stream-label Último Host
    p.stream-label Último Raid