@import "../foundations/colors";
@import "../foundations/spacing";
@import "../foundations/typo";

.camera-social-remainder {
	width: $camera-size;
	height: calc($camera-size / 5);
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	i {
		margin-right: $space_half;
		font-size: 1.2em;
	}
}
