extends ../templates/_middle-screen-template.pug

block page-title-style__head
  link(rel="stylesheet", href="../../css/screens/chatting-blue-themed.css")
  title Pausa

block body-content__head
  main.middle_screen.spaced.main-background
    +stream-labels