extends ../templates/_in-game-full-screen-template.pug

block page-title-style__head
  link(rel="stylesheet", href="../../css/screens/in-game-full-screen-blue-themed.css")
  title Pantalla de juego a full HD

block body-content__head
  main.in-game__full-screen.main-background
    .camera
      .camera-frame.main-background.main-border
      .camera-social-remainder.secondary-border.secondary-background
        p
          i.youtube.fa-brands.fa-youtube
          | Playes Develogamer