extends ../templates/_middle-screen-template.pug

block page-title-style__head
  link(rel="stylesheet", href="../../css/screens/pause-blue-themed.css")
  title Pausa

block body-content__head
  main.middle_screen.spaced.main-background
    h2.middle-title Enseguida regresamos
      +big-screen-socials
    +stream-labels