extends ../templates/_big-screen-template.pug

block page-title-style__head
  link(rel="stylesheet", href="../../css/screens/welcome-blue-themed.css")
  title Bienvenida

block body-content__head
  main.big_screen.spaced.main-background
    +big-title("Iniciando")
    +stream-labels