// Colores
// Los colores fueron extraídos directamente de color.adobe.com

// Color Theme Swatches in Hex https://color.adobe.com/es/Playes-Games-Main-Color-color-theme-20177964
$Playes-Games-Main-Color-1: #034aa6;
$Playes-Games-Main-Color-2: #0487d9;
$Playes-Games-Main-Color-3: #049dd9;
$Playes-Games-Main-Color-4: #04b2d9;
$Playes-Games-Main-Color-5: #1f2526;

// Color Theme Swatches in Hex https://color.adobe.com/es/Playes-Dev-Main-Color-color-theme-20177966
$Playes-Dev-Main-Color-1: #460273;
$Playes-Dev-Main-Color-2: #5d04d9;
$Playes-Dev-Main-Color-3: #4703a6;
$Playes-Dev-Main-Color-4: #1b0140;
$Playes-Dev-Main-Color-5: #0d0126;

// Color Theme Swatches in Hex https://color.adobe.com/es/Playes-Proyect-Grey-Palette-color-theme-20177969
$Playes-Proyect-Grey-Palette-1: #92aeb3;
$Playes-Proyect-Grey-Palette-2: #5e7073;
$Playes-Proyect-Grey-Palette-3: #1f2526;
$Playes-Proyect-Grey-Palette-4: #131617;
$Playes-Proyect-Grey-Palette-5: #000000;

// Booleans

$playes-white: #fff;
$playes-black: #000;

// Main Colors

$playes-games-main: $Playes-Games-Main-Color-2;
$playes-games-main-background: $Playes-Games-Main-Color-5;
