// Colores
// Los colores fueron extraídos directamente de color.adobe.com

// color Theme Swatches in Hex https://color.adobe.com/es/playes-games-main-color-color-theme-20177964
$playes-games-main-color-1: #034aa6;
$playes-games-main-color-2: #0487d9;
$playes-games-main-color-3: #049dd9;
$playes-games-main-color-4: #04b2d9;
$playes-games-main-color-5: #1f2526;

// color Theme Swatches in Hex https://color.adobe.com/es/playes-dev-main-color-color-theme-20177966
$playes-dev-main-color-1: #460273;
$playes-dev-main-color-2: #5d04d9;
$playes-dev-main-color-3: #4703a6;
$playes-dev-main-color-4: #1b0140;
$playes-dev-main-color-5: #0d0126;

// color Theme Swatches in Hex https://color.adobe.com/es/playes-project-grey-palette-color-theme-20177969
$playes-project-grey-palette-1: #92aeb3;
$playes-project-grey-palette-2: #5e7073;
$playes-project-grey-palette-3: #1f2526;
$playes-project-grey-palette-4: #131617;
$playes-project-grey-palette-5: #000000;

// Booleans

$playes-white: #fff;
$playes-black: #000;

// main Colors

$playes-games-main: $playes-games-main-color-2;
$playes-games-main-background: $playes-games-main-color-5;
