// Typografías

$main-font: "Montserrat", sans-serif;
$secondary-font: "Ubuntu Mono", monospace;
$brand-font: "SAO UI", sans-serif;

// Main Font Sizing

$main-font-xl: 24rem;
$main-font-md: 12rem;
$main-font-sm: 6rem;
$main-font-xs: 3.6rem;

// Secondary Font Sizing

$secondary-font-md: 3.2rem;

// Typo Bolds

$black: 800;
$bold: 700;
$medium: 600;
$normal: 500;
$light: 400;

// Font Normalizer

$font-normalizer: 62.5%;
